<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <title><%= title %></title>
  </head>
  <style>
    body > header {
      text-align: right;
      width: 740px;
      position: absolute;
      top: 10px;
    }
    body > header a {
      color: #ddd;
      font-style: italic;
      text-decoration: none;
    }
    body > header:hover a {
      color: #3e5d7c;
      text-decoration: none;
    }
    body > header a:hover {
      color: #b83000;
    }
    body > header li {
      display: inline;
      margin: 0 15px;
    }
    body > header ul {
      margin: 0;
      padding: 0;
    }
  </style>
  <body>
    <% if @path != 'home' %>
      <header>
        <ul>
          <li><a href="http://cloudhead.io/">home</a></li>
          <li><a href="http://github.com/cloudhead/">github</a></li>
          <li><a href="http://twitter.com/cloudhead">twitter</a></li>
        </ul>
      </header>
    <% end %>
    <section>
      <%= yield %> 
    </section>
    <footer>
      <p>powered by <a href="http://github.com/cloudhead/toto">toto</a></p>
      <p>Copyright &copy; 2010 Alexis Sellier</a>
    </footer>
    <script type="text/javascript" src="/js/hyphenator.js"></script>
    <script type="text/javascript">
      Hyphenator.run();
      document.write(unescape("%3Cscript src='http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-9355683-3");
        pageTracker._trackPageview();
      } catch (err) {}
    </script>
  </body>
</html>

