<a href="<%= "http://github.com/#{@config[:github][:user]}/#{name}" %>">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub" />
</a>

<style>
  ul, li { list-style-type: circle }
  p { text-indent: 0 }
  body { width: 740px }
  h3 { font-size: 140% }
  h4 { font-size: 120% }
  strong { font-weight: 600 }

  code { font-size: 90% }
  pre { padding: 0 0 0 25px }
</style>

<div class="markdown">
  <%= content %>
</div>
